h1{
  border: dotted 5px red;
  padding: 10px;
  width: auto;
}
*{
    padding: 0px;
    margin: 0px;
}
.containter{
 display: flex; 
flex-direction: row;
flex-wrap: wrap-reverse;
justify-content: space-between;

}
div img{
    /* filter: blur(10px); */
    /* filter: brightness(50%); */
    /* filter: grayscale(2); */
    /* filter: opacity(0.4); */
    filter: contrast(3);

}
img:hover{
    /* filter: blur(0px); */
    /* filter: brightness(100%); */
    /* filter: grayscale(0); */
    /* filter: opacity(1); */
}